body,
html {
	width: 100%;
	height: 100%;
	font-family: "montserrat", sans-serif;
    background: url(fondo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
	font-size: 3rem;
	color: #C65C2C;
	border-color: black;
	border-width: 2px;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-outline-primary {
	background-color: #E9F0E9;
	border-color: #2F4713;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn-outline-primary:hover {
	background-color: #C65C2C;
	border-color: #2F4713;
	border-width: 2px; 
}

hr {
		display: block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		color: #2F4713;
		border-width: 3px;
		max-width: 65px;
}

.buffer {
	height: 3rem;
}

